.sources {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    font: 300 1em 'Fira Sans', sans-serif;
}

.source__item {
    background: #242424;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: #8f8f8f;
    transition: 0.25s;
    cursor: pointer;
    border-radius: 5px;
    animation: fade-in 0.6s ease-out;
}

.source__item:hover,
.source__item:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.source__item--active {
    pointer-events: none;
    background: #f90455;
    color: black !important;
    box-shadow: none !important;
    transform: initial !important;
}

.source__item.hidden {
    display: none;
}

.source__item-name {
    font-weight: 400;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.filter__letter {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.filter__letter:hover {
    color: rgb(196, 132, 132);
}

.filter__letter--active {
    pointer-events: none;
    position: relative;
    color: #ff0055 !important;
}

.filter__letter--active::after {
    content: "";
    position: absolute;
    left: -4px;
    right: -4px;
    bottom: -2px;
    height: 2px;
    background-color: #ff0055;
}

@media (max-width: 767px) {
    .filter__letter {
        padding: 0.5rem;
    }

    .sources {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .source__item {
        text-align: center;
        padding: 0.75rem 1rem;
        align-self: stretch;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}