@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Arial"), url("fonts/arial/arial-regular.ttf") format("ttf");

}

@font-face {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Georgia"), url("fonts/georgia/georgia-regular.ttf") format("ttf");
}