|
|
// Footer 

footer.footer#footer
    .container
        .footer__wrapper
            .footer__col.footer__col-first
                h2.footer__title For questions and suggestions
                a.footer__link(href="mailto:email@shelter.com") #[.footer__icon-email] email@shelter.com
                a.footer__link(href="tel:+136745677554") #[.footer__icon-phone] +13 674 567 75 54
            .footer__col.footer__col-second
                h2.footer__title We are waiting for your visit 
                a.footer__link(href="https://goo.gl/maps/SdT18YpUoW45FVY2A" target="_blank") #[.footer__icon-marker] 1 Central Street, Boston<br> (entrance from the store)
                a.footer__link(href="https://goo.gl/maps/SdT18YpUoW45FVY2A" target="_blank") #[.footer__icon-marker] 18 South Park, London
            .footer__col.footer__img-container
                img.footer__img(src='assets/footer/footer-puppy.png' alt="Funny puppy")

//- При нажатии на email или его иконку должен открываться почтовый сервис.
//- При нажатии на телефон или его иконку должен открываться набор номера.
//- При нажатии на локацию должна открываться страница с google maps в отдельном окне с любой локацией на ваш выбор.
//- Изображение собаки, адрес и контакты - разные блоки, которые не должны накладываться друг на друга.
//- Фон блока можно сделать градиентом.