|
|
// Help 

section.help#help
    .container
        h2.help__title How you can help<br> our shelter 
        .help__variants 
            .help__variant 
                img.help__variant-img(src='assets/help/icon-pet-food.svg')
                h4.help__variant-title Pet food
            .help__variant 
                img.help__variant-img(src='assets/help/icon-transportation.svg')
                h4.help__variant-title Transportation
            .help__variant 
                img.help__variant-img(src='assets/help/icon-toys.svg')
                h4.help__variant-title Toys
            .help__variant 
                img.help__variant-img(src='assets/help/icon-bowls-and-cups.svg')
                h4.help__variant-title Bowls and cups
            .help__variant 
                img.help__variant-img(src='assets/help/icon-shampoos.svg')
                h4.help__variant-title Shampoos
            .help__variant 
                img.help__variant-img(src='assets/help/icon-vitamins.svg')
                h4.help__variant-title Vitamins
            .help__variant 
                img.help__variant-img(src='assets/help/icon-medicines.svg')
                h4.help__variant-title Medicines
            .help__variant 
                img.help__variant-img(src='assets/help/icon-collars-leashes.svg')
                h4.help__variant-title Collars / leashes
            .help__variant 
                img.help__variant-img(src='assets/help/icon-sleeping-area.svg')
                h4.help__variant-title Sleeping areas

//- Для позиционирования элементов блока используется сеточная верстка (flexbox или grid).
//- Расположение элементов: обязательно 5 сверху, 4 снизу.