|
|
// Help 

include ../mixins/_svg-sprite

section.help#help
    .container
        h2.help__title How you can help<br> our shelter 
        .help__variants 
            .help__variant
                .help__icon.icon-pet-food
                h4.help__variant-title Pet food
            .help__variant 
                .help__icon.icon-transportation
                h4.help__variant-title Transportation
            .help__variant 
                .help__icon.icon-toys
                h4.help__variant-title Toys
            .help__variant 
                .help__icon.icon-bowls-and-cups
                h4.help__variant-title Bowls and cups
            .help__variant 
                .help__icon.icon-shampoos
                h4.help__variant-title Shampoos
            .help__variant 
                .help__icon.icon-vitamins
                h4.help__variant-title Vitamins
            .help__variant 
                .help__icon.icon-medicines
                h4.help__variant-title Medicines
            .help__variant 
                .help__icon.icon-collars-leashes
                h4.help__variant-title Collars / leashes
            .help__variant 
                .help__icon.icon-sleeping-area
                h4.help__variant-title Sleeping areas

//- Для позиционирования элементов блока используется сеточная верстка (flexbox или grid).
//- Расположение элементов: обязательно 5 сверху, 4 снизу.