|
|
// Help 

include ../mixins/_svg-sprite

section.help#help
    .container
        h2.help__title How you can help<br> our shelter 
        .help__variants 
            .help__variant
                +svg-sprite("assets/help/sprite.svg", "icon-pet-food", "help__icon")
                h4.help__variant-title Pet food
            .help__variant 
                +svg-sprite("assets/help/sprite.svg", "icon-transportation", "help__icon")
                h4.help__variant-title Transportation
            .help__variant 
                +svg-sprite("assets/help/sprite.svg", "icon-toys", "help__icon")
                h4.help__variant-title Toys
            .help__variant 
                +svg-sprite("assets/help/sprite.svg", "icon-bowls-and-cups", "help__icon")
                h4.help__variant-title Bowls and cups
            .help__variant 
                +svg-sprite("assets/help/sprite.svg", "icon-shampoos", "help__icon")
                h4.help__variant-title Shampoos
            .help__variant 
                +svg-sprite("assets/help/sprite.svg", "icon-vitamins", "help__icon")
                h4.help__variant-title Vitamins
            .help__variant 
                +svg-sprite("assets/help/sprite.svg", "icon-medicines", "help__icon")
                h4.help__variant-title Medicines
            .help__variant 
                +svg-sprite("assets/help/sprite.svg", "icon-collars-leashes", "help__icon")
                h4.help__variant-title Collars / leashes
            .help__variant 
                +svg-sprite("assets/help/sprite.svg", "icon-sleeping-area", "help__icon")
                h4.help__variant-title Sleeping areas

//- Для позиционирования элементов блока используется сеточная верстка (flexbox или grid).
//- Расположение элементов: обязательно 5 сверху, 4 снизу.