|
|
// Pets 

section.pets#pets
    .container
        h2.pets__title Our friends who<br> are looking for a house 
        .pets__slider
            .pets__slides
                .pets__slide 
                    img.pets__slide-img(src="assets/pets/pets-katrine.png")
                    .pets__slide-title Katrine
                    .pets__slide-link
                        a.button-secondary(href="#") Learn more
                .pets__slide 
                    img.pets__slide-img(src="assets/pets/pets-jennifer.png")
                    .pets__slide-title Jennifer
                    .pets__slide-link
                        a.button-secondary(href="#") Learn more
                .pets__slide 
                    img.pets__slide-img(src="assets/pets/pets-woody.png")
                    .pets__slide-title Woody
                    .pets__slide-link
                        a.button-secondary(href="#") Learn more
            button.button-arrow.pets__slider-prev            
            button.button-arrow.pets__slider-next
        a.button-primary.pets__cta(href="our-pets.html") Get to know the rest

//- Кнопки "влево" и "вправо" должны быть интерактивными.
//- Карточки с питомцами должны быть интерактивными при наведении на любую область карточки. Наведение на карточку меняет курсор, делает подсветку кнопки Learn more и меняет фон.
//- Кнопки Learn more должны быть интерактивными.
//- Кнопка Get to know the rest должна быть интерактивной.
//- Нажатие на Get to know the rest перебрасывает нас на страницу our pets.