|
|
// Start-screen 

section.start-screen
    .container
        .start-screen__content
            .start-screen__text
                h1.start-screen__heading Not only people need a house
                .start-screen__subheading.
                    We offer to give a chance to a little and nice puppy with an extremely wide and open heart. He or she will love you more than anybody else in the world, you will see!
                a.start-screen__cta-button.button-primary(href="#pets") Make a friend
            img.start-screen__img(src="assets/start-screen/start-screen-puppy.png" width="698" height="728" alt="Cute puppy")

//- Кнопка Make a Friend должна быть интерактивной.
//- Нажатие на Make a Friend перебрасывает нас на блок Our Friends, расположенный на этой же странице (якорная ссылка).
//- Фон блоков можно сделать градиентом.
//- Картинка собаки и текст - разные блоки, которые не должны накладываться.