include _logo

mixin header(menuItems, colorTheme, headerStyle)
    - let headerClass = headerStyle ? `header__content--${headerStyle}` : ""
    - let linkClass = colorTheme ? `header__menu-link--${colorTheme}` : ""
    header.header.container
        div(class = "header__content " + headerClass)
            +logo(colorTheme)
            nav.header__menu-container 
                ul.header__menu
                    each menuItem in menuItems
                        li.header__menu-el
                            if menuItem.isActive
                                a(href = menuItem.link class = "header__menu-link active " + linkClass) #{menuItem.text}
                            else
                                a(href = menuItem.link class = "header__menu-link " + linkClass) #{menuItem.text}