mixin pagination()
    nav.pagination 
        ul.pagination__list 
            li.pagination__el 
                a.button-round-first.disabled
            li.pagination__el 
                a.button-round-prev.disabled
            li.pagination__el 
                a.button-round-current.pagination__item 1
            li.pagination__el 
                a.button-round-next
            li.pagination__el 
                a.button-round-last