extends templates/_template-default
include mixins/_header

block head
    title Cozy House — Shelter for pets in Boston

block body
    |
    |
    // Header 
    +header([
            {
                text: "About the shelter",
                link: "index.html",
                isActive: true
            },
            {
                text: "Our pets",
                link: "our-pets.html"
            },
            {
                text: "Help the shelter",
                link: "#help"
            },
            {
                text: "Contacts",
                link: "#footer"
            }
        ], 'darkTheme')

    |
    |
    // Main 
    main.main
        include components/_start-screen
        include components/_about
        include components/_pets
        include components/_help
        include components/_donation
