extends templates/_template-default

block head
    title Cozy House — Shelter for pets in Boston

block body
    //- Page Header
    include components/_header

    //- Page Content
    |
    |
    // Main
    main.main
        include components/_start-screen
        include components/_about
        include components/_pets
        include components/_help
        include components/_donation
