extends templates/_template-default

block head
    title Cozy House — Our pets

block body
    //- Page Header
    - var headerClass = '.header--main'
    include components/_header-pages

    //- Page Content
    |
    |
    // Main
    main.main
