extends templates/_template-default
include mixins/_header

block head
    title Cozy House — Our pets

block body
    |
    |
    // Header 
    +header([
            {
                text: "About the shelter",
                link: "index.html"
            },
            {
                text: "Our pets",
                link: "our-pets.html",
                isActive: true
            },
            {
                text: "Help the shelter",
                link: "#help"
            },
            {
                text: "Contacts",
                link: "#footer"
            }
        ], 'lightTheme')

    |
    |
    // Main
    main.main
