extends templates/_template-default
include mixins/_header

block head
    title Cozy House — Our pets
    script(src="js/our-pets-page.js" type="module")

block body
    |
    |
    // Header 
    +header([
            {
                text: "About the shelter",
                link: "index.html"
            },
            {
                text: "Our pets",
                link: "our-pets.html",
                isActive: true
            },
            {
                text: "Help the shelter",
                link: "index.html#help"
            },
            {
                text: "Contacts",
                link: "#footer"
            }
        ], 'lightTheme', 'fixed')

    |
    |
    // Main
    main.main--fixed-menu
        include components/_all-pets
