.catalog {
  &__header {
    text-align: center;
    color: $color-gray-5;

    b {
      color: $color-gray-2;
    }
  }

  &__content {
    display: grid;
    column-gap: 2rem;
    grid-template-areas: "left right";
    grid-template-columns: auto 1fr;
  }
}
