input[name="qty-min"],
input[name="qty-max"],
input[name="year-min"],
input[name="year-max"] {
  max-width: 40px;
  text-align: center;
}

.filter {
  grid-area: left;
}

.filter__range-wrapper {
  display: flex;
  gap: 2rem;
}

.filter__range {
  flex-grow: 1;
}
