// =====================
//       COLORS
// =====================

$color-primary: #EB5757;
$color-white: #ffffff;
$color-yellow: #FFDE68;
$color-red: #EB5757;
$color-black: #000000;
$color-gray-1: #333333;
$color-gray-2: #4F4F4F;
$color-gray-3: #828282;
$color-gray-4: #BDBDBD;
$color-gray-5: #C6C6C6;
$color-gray-6: #E0E0E0;
$color-gray-7: #F3F3F3;

// =====================
//     BREAKPOINTS
// =====================

$breakpoint-lg: 1280px;
$breakpoint-md: 768px;

// =====================
//       SIZES
// =====================

$radius-default: 3px;
$container-max-width-lg: 1600px;
$container-max-width-md: 800px;
$container-padding-lg: 2rem;
$container-padding-md: 1.5rem;

// =====================
//     TYPOGRAPHY
// =====================

// FONTS
$font-family: 'Arial', 'Tahoma', sans-serif;

// HEADING SIZES
$h1-size: 2rem;
$h2-size: 1.5rem;
