.burger-button {
    width: 30px;
    height: 22px;
    margin: 0;
    padding: 15px;
    border: none;
    box-sizing: content-box;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    transition: all 0.8s;

    &__line {
        height: 2px;

        &--darkTheme {
            background-color: $color-primary;
        }

        &--lightTheme {
            background-color: $color-black;
        }
    }
}