// ==================
//   RECT BUTTONS
// ==================

%button {
    cursor: pointer;
    font-family: $font-family-1;
    font-size: 17px;
    letter-spacing: 0.06em;
    display: inline-block;
    padding: 14px 42px;
    border: 2px solid $color-primary;
    border-radius: 100px;
    text-decoration: none;
    color: $color-dark-3xl;
    background-color: unset;
    box-sizing: border-box;

    &[disabled], &.disabled {
        pointer-events: none;
        color: $color-dark-s;
        border-color: $color-dark-s;
    }
}

.button-primary {
    @extend %button;
    background-color: $color-primary;

    &:hover {
        border-color: $color-primary-light;
        background-color: $color-primary-light;
    }
}

.button-secondary {
    @extend %button;

    &:hover {
        border-color: $color-primary-light;
        background-color: $color-primary-light;
    }
}

// ==================
//   ROUND BUTTONS
// ==================

%button-round {
    @extend %button;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    padding: 0;
    font-size: 20px;
    letter-spacing: 0.06em;

    &:hover {
        border-color: $color-primary-light;
        background-color: $color-primary-light;
    }
}

.button-round-arrow {
    @extend %button-round;

    &::before {
        content: url(../assets/pets/arrow.svg);
        line-height: 0;
        margin-top: -1px; // PIXEL PERFECT SOLUTION
    }
}

.button-round-first {
    @extend %button-round;

    &::before {
        margin-top: -1px; // PIXEL PERFECT SOLUTION
        content: "<<";
    }
}

.button-round-prev {
    @extend %button-round;

    &::before {
        margin-top: -1px; // PIXEL PERFECT SOLUTION
        content: "<";
    }
}

.button-round-current {
    @extend %button-round;
    pointer-events: none;
    background-color: $color-primary;
}

.button-round-next {
    @extend %button-round;

    &::before {
        margin-top: -1px; // PIXEL PERFECT SOLUTION
        content: ">";
    }
}

.button-round-last {
    @extend %button-round;

    &::before {
        margin-top: -1px; // PIXEL PERFECT SOLUTION
        content: ">>";
    }
}

.button-round-close {
    @extend %button-round;

    &::before {
        margin-top: -1px; // PIXEL PERFECT SOLUTION
        content: url(../assets/buttons/close.svg);
    }
}