.donation {
    text-align: center;
    box-sizing: border-box;
    padding: 80px 0 100px;
    background-color: $color-light-l;

    @include media-md {
        height: unset;
        padding-bottom: 95.5px; // PIXEL PERFECT SOLUTION
    }

    @include media-sm {
        height: unset;
        padding: 42px 0 37px; // PIXEL PERFECT SOLUTION
    }

    &__wrapper {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        text-align: initial;

        @include media-md {
            flex-direction: column-reverse;
            gap: 60px;
        }

        @include media-sm {
            gap: 42px;
        }
    }

    &__img {
        @include media-sm {
            width: 260px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
        max-width: 380px;

        @include media-sm {
            align-items: center;
            padding: 0 10px;
        }
    }

    &__title {
        margin: 0;

        @include media-sm {
            margin: 0 auto;
        }
    }

    &__text {
        color: $color-dark-l;
        font-size: 15px;
        line-height: 110%;
        letter-spacing: 0.06em;

        @include media-sm {
            letter-spacing: normal;
            line-height: 160%;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        color: $color-dark-l;
        font-family: $font-family-1;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        text-decoration: none;
        background-color: $color-primary;
        padding: 10px 15px;
        border-radius: 9px;

        @include media-sm {
            width: 100%;
            font-size: 15px;
            line-height: 110%;
            box-sizing: border-box;
            padding: 10px 0 10px 15px;
        }

        &:hover {
            background-color: $color-primary-light;
        }

        &::before {
            content: '';
            width: 30px;
            height: 23px;
            display: inline-block;
            vertical-align: bottom;
            margin-right: 15px;
            background: url(../assets/donation/credit-card.svg) no-repeat center;
        }
    }

    &__legal {
        margin: 0;
        color: $color-dark-m;
        font-style: italic;
        font-size: 12px;
        line-height: 18px;

        @include media-sm {
            text-align: justify;
        }
    }
}