.header {
    position: relative;

    &--fixed {
        position: fixed;
        width: 100%;
        background-color: $color-white;
    }

    &__container {
        position: relative;
    }

    &__content {
        display: flex;
        justify-content: space-between;

        &--main {
            position: absolute;
            top: 60px;
            left: 0;
            right: 0;

            @include media-md {
                top: 30px;
            }
        }

        &--fixed {
            padding: 30px 0;
        }
    }

    &__menu {
        font-family: $font-family-2;
        font-size: 15px;
        list-style: none;
        display: flex;
        padding-top: 4px;

        @include media-sm {
            display: none;
        }
    }

    &__menu-el {
        &:not(:last-child) {
            margin-right: 36px;
        }
    }

    &__menu-link {
        text-decoration: none;
        position: relative;

        &.active {
            &::after {
                content: "";
                pointer-events: none;
                position: absolute;
                left: 0;
                right: 0;
                bottom: -7px;
                height: 3px;
                background-color: $color-primary;
            }
        }

        &--darkTheme {
            color: $color-dark-s;

            &:hover,
            &.active {
                color: $color-light-s;
            }
        }

        &--lightTheme {
            color: $color-dark-l;

            &:hover,
            &.active {
                color: $color-dark-3xl;
            }
        }
    }

    &__burger-button {
        display: none;
        margin-right: 28px;
        align-self: center;

        @include media-sm {
            display: flex;
        }
    }
}