.help {
    text-align: center;
    max-height: 611px; // PIXEL PERFECT SOLUTION
    box-sizing: border-box;
    padding: 80px 0 100px;

    @include media-md {
        max-height: unset;
    }

    @include media-sm {
        padding: 42px 0;
    }

    &__title {
        margin: 0 0 60px;
        height: 90px; // PIXEL PERFECT SOLUTION

        @include media-sm {
            margin-bottom: 42px;
            height: 64px;
        }
    }

    &__icon {
        width: 60px;
        height: 60px;

        @include media-sm {
            width: 50px;
            height: 50px;
        }
    }

    &__variants {
        display: flex;
        flex-wrap: wrap;
        gap: 55px 120px;
        justify-content: center;
        margin: auto;

        @include media-md {
            width: 630px;
            gap: 55px 60px;
        }

        @include media-sm {
            justify-content: flex-start;
            width: 290px;
            gap: 30px;
        }
    }

    &__variant {

        @include media-md {
            width: 170px;
        }

        @include media-sm {
            width: 130px;
            height: 87px;
        }
    }

    &__icon {
        display: block;
        margin: auto;

        @include media-sm {
            width: 50px;
            height: 50px;
        }
    }

    &__variant-title {
        font-size: $h3-size-m;
        margin: 30px 0 0;

        @include media-sm {
            margin-top: 20px;
            font-size: 15px;
            line-height: 110%;
        }
    }
}

// ICONS
.icon-bowls-and-cups {
    background: url(../assets/help/icon-bowls-and-cups.svg);
    background-size: contain;
}

.icon-collars-leashes {
    background: url(../assets/help/icon-collars-leashes.svg);
    background-size: contain;
}

.icon-medicines {
    background: url(../assets/help/icon-medicines.svg);
    background-size: contain;
}

.icon-pet-food {
    background: url(../assets/help/icon-pet-food.svg);
    background-size: contain;
}

.icon-shampoos {
    background: url(../assets/help/icon-shampoos.svg);
    background-size: contain;
}

.icon-sleeping-area {
    background: url(../assets/help/icon-sleeping-area.svg);
    background-size: contain;
}

.icon-toys {
    background: url(../assets/help/icon-toys.svg);
    background-size: contain;
}

.icon-transportation {
    background: url(../assets/help/icon-transportation.svg);
    background-size: contain;
}

.icon-vitamins {
    background: url(../assets/help/icon-vitamins.svg);
    background-size: contain;
}