.start-screen {
    color: $color-white;
    padding-top: 180px;
    background-color: $color-dark-bg;
    background: url(../assets/common/noise_lines.png), $rad-grad-dark-2;

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__text {
        width: 460px;
        margin-top: -108px;
    }

    &__heading {
        color: $color-light-xl;
        font-size: 44px;
        font-weight: 400;
        max-width: 310px;
        line-height: 57px;
    }

    &__subheading {
        color: $color-dark-s;
        font-family: $font-family-2;
        font-size: 15px;
        line-height: 24px;
        margin: 42px 0 43px;
    }
}